.container
  .row
    .col-xs-12
      #preview
        .layout-container
  .row
    .col-xs-12
      #blocks-box
        .block
        .block


//- #grid-snap Dragging is constrained to the corners of a grid
