script(src='js/lib/jquery.min.js')
//- script(src='js/lib/es5-shim.js')
//- script(src='js/lib/react.js')
//- script(src='js/lib/jquery.easing.min.js')
//- script(src='js/lib/jquery-ui.min.js')
//- script(src='js/lib/html5shiv.js')

//- script(src='js/lib/underscore-min.js')
//- script(src='js/lib/underscore.string.min.js')

script(src='js/lib/bootstrap.min.js')
//- script(src='js/lib/bootstrap-sprockets.js')

//- script(src='js/lib/respond.min.js')
//- script(src='js/lib/velocity.min.js')
//- script(src='js/lib/velocity.ui.min.js')

//- script(src='js/lib/flat-ui.min.js')
//- script(src='js/lib/jquery.toolbar.js')


// bower:js
//- script(src='../bower_components/quill/dist/quill.js')
//- script(src='js/lib/non_bower/highlight.pack.js')
script(src='../bower_components/interact/interact.js')
// endbower

script(src='js/_test.js')
