//- ----------------- JQUERY ----------------- -//
script(src='js/lib/jquery.js')

//- BOOTSTRAP:
//- script(src='js/lib/bootstrap.min.js')
//- script(src='js/lib/bootstrap-sprockets.js')
script(src='js/lib/bootstrap/transition.js')
script(src='js/lib/bootstrap/scrollspy.js')

script(src='js/lib/bootstrap/button.js')

script(src='js/lib/bootstrap/tooltip.js')
script(src='js/lib/bootstrap/alert.js')
script(src='js/lib/bootstrap/popover.js')
script(src='js/lib/bootstrap/modal.js')

script(src='js/lib/bootstrap/dropdown.js')
script(src='js/lib/bootstrap/tab.js')
script(src='js/lib/bootstrap/collapse.js')

script(src='js/lib/bootstrap/carousel.js')
script(src='js/lib/bootstrap/affix.js')

//- PLUGINS:
//- script(src='js/lib/bootstrap/switch.js')

//- FLAT UI:
//- script(src='js/lib/flat-ui.min.js')
//- script(src='js/lib/flatui/core.js')
//- script(src='js/lib/flatui/radiocheck.js')

//- BASIC:
script(src='js/lib/jquery-ui.min.js')
script(src='js/lib/jquery.easing.min.js')

//- VELOCITY.JS:
script(src='js/lib/velocity.min.js')
script(src='js/lib/non_bower/velocity.ui.min.js')
//- script(src='js/lib/atk/_atk_velocity_effects.js')

//- ANIMATION:
//- script(src='js/lib/jquery.transit.min.js')
//- script(src='js/lib/non_bower/jquery.transform2d.js')
//- script(src='js/lib/non_bower/jquery.transition.min.js')
//- script(src='js/lib/non_bower/jquery.transform3d.js')

//- PLUGINS:


//- ----------------- OTHER BASIC LIBS ----------------- -//
//- IE RELATED:
//- script(src='js/lib/html5shiv.js')
script(src='js/lib/respond.min.js')

//- OTHERS:
//- script(src='js/lib/underscore-min.js')
//- script(src='js/lib/underscore.string.min.js')


//- ----------------- MINE ----------------- -//
//- HELPERS:
//- script(src='js/helper/basic_extensions.js')
//- script(src='js/helper/functions.js')

//- JQUERY EXTENSOINS:
//- script(src='js/helper/jq/_jq_selectors.js')
//- script(src='js/helper/jq/_jq_functions.js')
//- script(src='js/helper/jq/_jq_effects.js')
//- script(src='js/helper/jq/_jq_animations.js')
//- script(src='js/helper/jq/_jq_ajax.js')
//- script(src='js/helper/jq/_jq_events.js')
//- script(src='js/helper/jq/_jq_extensions.js')

//- TEMPLATES:
//- script(src='js/helper/template/_template_styles.js')
//- script(src='js/helper/template/_template_atk_blocks.js')
//- script(src='js/helper/template/_template_html.js')

//- ATK:
//- script(src='js/atk/_atk_functions.js')
//- script(src='js/atk/_atk_jq_extensions.js')
//- script(src='js/atk/_atk_jq_plugins.js')
//- script(src='js/atk/_atk_jqui_extensions.js')
//- script(src='js/helper/admin_toolkits.js')

//- PLUGINS:
//- script(src='js/plugin/_plugin_add_editor.js')
//- script(src='js/plugin/_plugin_edit_content.js')
//- script(src='js/plugin/_plugin_edit_title.js')
//- script(src='js/plugin/plugins.js')
//- script(src='js/plugin/add_editor.js')

//- MAIN:
//- script(src='js/main.js')
//- script(src='js/plugin/slider.js')
//- script(src='js/plugin/mega_menu.js')

//- script(src='js/helper/test_tamplate_generator.js')

//- TEST:
//- script(src='js/test/TRY_html_gen.js')
