//- link(rel='stylesheet', href='css/lib/jquery-ui.min.css', type='text/css')

link(rel='stylesheet', href='css/lib/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='css/lib/flat-ui.css', type='text/css')

//- link(rel='stylesheet', href='css/lib/animate.css', type='text/css')
link(rel='stylesheet', href='css/lib/font-awesome.css', type='text/css')

// bower:css
//- link(rel='stylesheet', href='../bower_components/quill/dist/quill.snow.css', type='text/css')
//- link(rel='stylesheet', href='css/lib/highlight/monokai_sublime.css', type='text/css')
// endbower

link(rel='stylesheet', href='css/style.css', type='text/css')
