doctype html
html( lang='en-US' )
  head
    include partial/_meta_info.jade

    title PAGE TITLE

    include partial/_styles.jade
    include partial/_scripts_header.jade
  body
    block content
    include partial/_scripts.jade
    //- include partial/_scripts_footer.jade
